SetEnvIf Host clarepunts.soc.srcf.net/ passreq
AuthType Ucam-WebAuth
Require valid-user
Order allow,deny
Allow from all
Deny from env=passreq
Satisfy any

<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/app/
RewriteRule ^(.*)$ /app/$1 [NC]
ReWriteRule ^/$ /app/ [NC]
</IfModule>