AuthType Ucam-WebAuth
Require valid-user
#Require user tb405, rjg70
order deny,allow
deny from all
Satisfy any

<Limit GET POST PUT DELETE>
  allow from all
</Limit>

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^rest/(.*) rest/index.php [NC,L]

    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]
    RewriteRule ^(.*) /index.html [NC,L]
</IfModule>


















RewriteCond %{REQUEST_URI} !^/app/
RewriteRule ^(.*)$ /app/$1 [NC]
ReWriteRule ^/$ /app/ [NC]
</IfModule>
