/* app css stylesheet */
body {
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 20px;
    margin: 0;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 13px;
    color: #121259;
    line-height: 1.3;
    background-image: url("clare_crest_small.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 3% 20px;
    background-color: white;
    position: relative; /* provides reference for positioning */
    max-width: 80%;
}

.headerRibbon {

}

.headerRibbon #title {
    font-family: "Arial", sans-serif;
    font-size: 2em;
    margin: 0;
    line-height: 0.8em;
    background-color: #000;
    color: #F7B900;
    padding: 0.5em 0.2em 0.3em 0.3em;
    border-bottom-style: none;
}

.userWelcome {
    font-weight: bold;
    margin-bottom: 2em;
    background-color: #f0aa00;
    background-color: #F7B900;
    line-height: 1.8em;
    padding-left: 0.6em;
}

.userWelcome h2 {
    float: left;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
    float: right;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
