<div class="container-fluid">
  <div class="row top-buffer">
    <cp-widget-container class="col-xs-12" label-text="vm.title">

        <form>
          <table class="bottomRow">
            <thead>
            <tr>
              <th class="checkColumn"></th>
              <th>Punt</th>
              <th ng-if="vm.user.type === 'PORTER'">Name</th>
              <th>Date</th>
              <th>From</th>
              <th>To</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="booking in vm.user.bookings |orderBy:'time_from' track by $index">
              <td class="checkColumn"><!--suppress HtmlUnknownAttribute -->
                <input title="bookingId" type="checkbox" checklist-model="vm.form" checklist-value="booking.id">
              </td>
              <td>{{ booking.puntid | puntidToName:vm.punts }}</td>
              <td ng-if="vm.user.type === 'PORTER'">
                {{booking.name}}
              </td>
              <td>{{ booking.time_from |dateParse |date:'mediumDate'}}</td>
              <td>{{ booking.time_from |dateParse |date:'shortTime'}}</td>
              <td>{{ booking.time_to |dateParse |date:'shortTime'}}</td>
            </tr>
            </tbody>
          </table>
          <div class="form-group row topbuffer">
            <div class="text-center col-xs-12">
              <button type="submit" class="btn btn-primary" ng-disabled="vm.form.length === 0"
                      ng-click="vm.deleteBooking()">Delete
              </button>
            </div>
          </div>
        </form>
      </cp-widget-container>
  </div>
</div>
