<div class="container-fluid" ng-if="vm.user.admin === '1'">
  <div class="row">
    <cp-widget-container class="col-xs-12" label-text="vm.title">
      <div class="padded-container">
        <h1>Welcome Admiral {{vm.user.name}}</h1>

        <h2>Where would you like to go?</h2>
        <ul>
          <li ng-repeat="r in vm.adminRoutes">
            <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
          </li>
        </ul>

        <h2>TODO:</h2>
        <form ng-submit="vm.todoAdd()">
          <input type="text" ng-model="vm.todoInput" size="50" placeholder="Add New">
          <input type="submit" class="btn btn-primary" value="Add New">
        </form>

        <br>

        <div ng-repeat="x in vm.todoList">
          <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
        </div>

        <p>
          <button class="btn btn-danger" ng-click="vm.remove()">Remove marked</button>
        </p>
      </div>
    </cp-widget-container>
  </div>
</div>
