<div class="container-fluid" ng-if="vm.user.admin==='1'">
  <div class="row">
    <cp-widget-container label-text="vm.title.status" class="col-sm-6">
      <cp-widget-punt-status punts="vm.punts" bookings="vm.bookings"></cp-widget-punt-status>
    </cp-widget-container>
    <cp-widget-container class="col-sm-6" label-text="vm.title.newPunt">
      <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute -->
      <formly-form form="vm.thisForm" model="vm.newPuntForm" fields="vm.newPuntFormFields"
                   class="form-horizontal padded-container"
                   novalidate>
        <div class="form-group">
          <div class="text-center col-sm-12">
            <!--suppress HtmlUnknownAttribute -->
            <button type="submit" ng-disabled="vm.thisForm.$invalid" ng-click="vm.onSubmit(vm.newPuntForm)"
                    class="btn btn-primary submit-button">Submit
            </button>
          </div>
        </div>
      </formly-form>
    </cp-widget-container>
  </div>
  <div class="row topbuffer">
    <cp-widget-container class="col-sm-6" label-text="vm.title.editPunt">
      <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute -->
      <formly-form form="vm.thisEditForm" model="vm.editPuntForm" fields="vm.editPuntFormFields"
                   class="form-horizontal padded-container"
                   novalidate>
        <div class="form-group">
          <div class="text-center col-xs-12">
            <!--suppress HtmlUnknownAttribute -->
            <button type="submit" ng-disabled="vm.thisEditForm.$invalid" ng-click="vm.onSubmit(vm.editPuntForm)"
                    class="btn btn-primary submit-button">Submit
            </button>
          </div>
        </div>
      </formly-form>
    </cp-widget-container>
    <cp-widget-container class="col-sm-6" label-text="vm.title.deletePunt">
      <form>
        <table class="bottom-row-border">
          <thead>
          <tr>
            <th class="checkColumn"></th>
            <th>Punt</th>
            <th>Availbale From</th>
            <th>Available To</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="punt in vm.punts | orderBy:'availableFrom' track by punt.id">
            <td class="checkColumn">
              <!--suppress HtmlUnknownAttribute -->
              <input type="checkbox" checklist-model="vm.deletePuntForm" checklist-value="punt.id">
            </td>
            <td>{{ punt.name }}</td>
            <td>{{ punt.availableFrom |dateParse |date:'short'}}</td>
            <td>{{ punt.availableTo |dateParse |date:'short'}}</td>
          </tr>
          </tbody>
        </table>
        <div class="padded-container">
          <div class="form-group row">
            <div class="text-center col-xs-12">
              <button type="submit" class="btn btn-danger" ng-disabled="vm.deletePuntForm.length === 0"
                      ng-click="vm.deletePunt()">Delete
              </button>
            </div>
          </div>
        </div>
      </form>
    </cp-widget-container>
  </div>
</div>
