# Apache needs to let you overrite this (AllowOverride Indexes or AllowOverride All)
SetEnvIf Host clarepunts.soc.srcf.net passreq
AuthType Ucam-WebAuth
Require valid-user
Order allow,deny
Allow from all
Deny from env=passreq
Satisfy any
<files config.php>
order allow,deny
deny from all
</files>

DirectoryIndex index.php
<IfModule mod_rewrite.c>
	# Turn Rewrite Engine on
	RewriteEngine On
	# Send all requests to index.php (index.php will parse the request url and routes accordingly)
	RewriteRule ^.*$ index.php [QSA,L]
</IfModule>