AuthType Ucam-WebAuth
Require valid-user
order deny,allow
deny from all
Satisfy any

SetEnv APPLICATION_ENV production

<files config.php>
    order allow,deny
    deny from all
</files>

DirectoryIndex index.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ index.php [QSA,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [NC,L]
</IfModule>
