<div class="headerRibbon">
    <div id="title">
        <h1>Clare MCR Punts Booking System</h1>
    </div>
    <div class="userWelcome">
        <h2>Welcome <span ng-if="user.admin">Admiral </span>{{user.name}}</h2>
        <ul class="menu">
            <li><a href="#/status">Punt Status</a></li>
            <li><a href="#/book">Book Punt</a></li>
            <li><a href="#/calendar">Calendar</a></li>
            <li><a href="#/chart">Charts</a></li>
        </ul>
    </div>
</div>

<form novalidate>
    Punt:<br>
    <select ng-model="submission.puntID">
        <option ng-repeat="x in punts" value="{{x.ID}}">{{x.name}}</option>
    </select><br>

    Name:<br>
    <input type="text" ng-model="submission.name"><br>
    Mobile:<br>
    <input type="tel" ng-model="submission.phone">
    <br>
    <p class="input-group">
        <input type="text" ng-model="submission.from" class="form-control" uib-datepicker-popup ng-model="dt"
               is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
               alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>
    <p class="input-group">
        <input type="text" ng-model="submission.to" class="form-control" uib-datepicker-popup ng-model="dt"
               is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
               alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>
    <br>
    <button ng-click="reset()">RESET</button>
</form>
<p>form = {{submission}}</p>
<p>master = {{master}}</p>
