<div class="headerRibbon">
    <div id="title">
        <h1>Clare MCR Punts Booking System</h1>
    </div>
    <div class="userWelcome">
        <h2>Welcome <span ng-if="user.admin">Admiral </span>{{user.name}}</h2>
        <ul class="menu">
            <li><a href="#/status">Punt Status</a></li>
            <li><a href="#/book">Book Punt</a></li>
            <li><a href="#/calendar">Calendar</a></li>
            <li><a href="#/chart">Charts</a></li>
        </ul>
    </div>
</div>

<div class="note punt-status">
    <h2>Current Punt Status</h2>
    <table border="0" class="display_info" id="punt_status">
        <thead>
        <tr>
            <th>Punt Name</th>
            <th>Punt Status</th>
            <th>Present Booking Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in punts">
            <td>{{x.name}}</td>
            <td>{{x.active | activeInactive}}</td>
            <td class="{{ bookings|puntInUse:x.id:x.active }}">{{ bookings|puntInUse:x.id:x.active }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="BookingCalendar">
    <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker>
    <!--Only show future bookings: <input type="checkbox" ng-model="restrictTime">-->
    {{dt|date:'medium'}}
    <div ng-repeat="punt in punts">
        <h3>{{ punt.name | uppercase}}</h3>
        <table>
            <tr ng-repeat="booking in bookings | puntBookings:punt.id:dt:restrictTime | orderBy:'time_from'">
                <td>{{ booking.user_type }}</td>
                <td>{{ booking.booker }}</td>
                <td>{{ booking.name }}</td>
                <td>{{ booking.mobile }}</td>
                <td>{{ booking.time_from }}</td>
                <td>{{ booking.time_to }}</td>
            </tr>
        </table>
    </div>


</div>