<div class="headerRibbon">
    <div id="title">
        <h1>Clare MCR Punts Booking System</h1>
    </div>
    <div class="userWelcome">
        <h2>Welcome <span ng-if="user.admin">Admiral </span>{{user.name}}</h2>
        <ul class="menu">
            <li><a href="#/status">Punt Status</a></li>
            <li><a href="#/book">Book Punt</a></li>
            <li><a href="#/calendar">Calendar</a></li>
            <li><a href="#/chart">Charts</a></li>
        </ul>
    </div>
</div>

<div class="note punt-status">
    <h2>Current Punt Status</h2>
    <table border="0" class="display_info" id="punt_status">
        <thead>
        <tr>
            <th>Punt Name</th>
            <th>Punt Status</th>
            <th>Present Booking Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in punts">
            <td>{{x.name}}</td>
            <td>{{''|puntActive:x.available_from:x.available_to}}</td>
            <td class="Inactive">{{ bookings| filter:{puntid: 'x.puntid'} }}</td>
        </tr>
        </tbody>
    </table>
</div>
