<div class="headerRibbon">
    <div id="title">
        <h1>Clare MCR Punts Booking System</h1>
    </div>
    <div class="userWelcome">
        <h2>Welcome <span ng-if="user.admin">Admiral </span>{{user.name}}</h2>
        <ul class="menu">
            <li><a href="#/status">Punt Status</a></li>
            <li><a href="#/book">Book Punt</a></li>
            <li><a href="#/calendar">Calendar</a></li>
            <li><a href="#/chart">Charts</a></li>
        </ul>
    </div>
</div>

<p>landing page</p>
